<div class="listeNote">

    {% if notes|length > 0 %}
    <table class="liste">
        <tr>
            <th>
                {% if r|default(false) or q|default(false) or s|default(false) %}<a href="{{ path('sr_notes_search_index', {'r': r|default(null), 'q': q|default(null), 's': s|default(null) } ) }}">
                [{{ notes|length }}]
                </a>
                {% else %}
                [{{ notes|length }}]
                {% endif %}
            </th>
            <th title="Prochaine">Nxt</th>
            <th title="En attente">Wtg</th>
            <th>Parent</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Deadline</th>
            <th>Durée</th>
            <th>Ouverte</th>
            <th>Fermée</th>
        </tr>

        {%  set dureeReelleTotale = 0 %}
        {% for note in notes %}
            {%  set dureeReelleTotale = dureeReelleTotale + note.dureeReelle %}
        <tr class="tr{{note.id}}"{{ note.listLineStyle|raw }}>
            <td><a href="{{ path('sr_notes_note_index', { 'id': note.id } ) }}">{{ note.id }}</a></td>

            <td><input type="checkbox" id="nxt{{ note.id }}" {{ note.prochaine ? 'checked="checked"' : '' }}
                       onchange="checkNxt('{{ path('sr_notes_note_save') }}', this.checked, {{note.id}})"></td>

            <td><input type="checkbox" id="wtg{{ note.id }}" {{ note.enAttente ? 'checked="checked"' : '' }}
                       onchange="checkWtg('{{ path('sr_notes_note_save') }}', this.checked, {{note.id}})"></td>

            <td>
                {% if note.parent %}
                <a style="text-decoration: none; font-size: 9px; font-weight: normal;" href="{{ path('sr_notes_note_index', { 'id': note.parent.id } ) }}">{{ note.parent.titre | truncate(8) }}</a>
                {% endif %}
            </td>

            <td><a style="text-decoration: none" href="{{ path('sr_notes_note_index', { 'id': note.id } ) }}">{{ note.titre | truncate(80) }}</a></td>

            <td style="font-size: 10px;">{{ note.note | truncate(250) }}</td>

            <td style="font-size: 10px;">{{ note.getTagsAsStrings(true)|join(', ')|raw }}</td>
            <td>{{ note.dateLimite ? note.dateLimite.format('Y-m-d') : '' }}</td>
            <td>
                <a href="javascript:startChrono({{ note.id }});" class="timer{{ note.id }}">
                <script type="text/javascript">
                    document.write(timeToCountDown({{ note.dureeReelle | default(0) }}));
                </script>
                </a>
            </td>
            <td>{{ note.dateCreation ? note.dateCreation.format('Y-m-d') : '' }}</td>
            <td>
                {{ note.dateFermeture and note.pcAvancement >= 100 ? note.dateFermeture.format('Y-m-d') : '' }}
                <input type="checkbox" {{ note.pcAvancement == 100 ? 'checked="checked"' : '' }} onchange="checkNote('{{ path('sr_notes_note_save') }}', this.checked, {{note.id}})">
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="8">Total</td>
            <td><script type="text/javascript">
                document.write(timeToCountDown({{ dureeReelleTotale | default(0) }}));
            </script></td>
            <td colspan="2"></td>
        </tr>
    </table>

    {% else %}
    Aucun résultat.

    {% endif %}
</div>