<div class="noteslist">
    {% if notes|length > 0 %}
        <div class="notesListTop">
            {{ notes|length }} notes

            {% if r|default(false) or q|default(false) or s|default(false) %}
                - 
                <a href="{{ path('sr_notes_search_index', {'r': r|default(null), 'q': q|default(null), 's': s|default(null) } ) }}">
                    Lien vers ce tableau
                </a>
            {% endif %}
            -
        </div>

        <table class="table table-bordered table-condensed datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th title="Prochaine"><i class="icon-star"></th>
                    <th title="En attente"><i class="icon-time"></th>
                    <th>Parent</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th><i class="icon-tags"></th>
                    <th>Deadline</th>
                    <th>Ouverte</th>
                    <th><i class="icon-check"></th>
                </tr>
            </thead>
            <tbody>
                {%  set dureeReelleTotale = 0 %}
                {% for note in notes %}
                    {%  set dureeReelleTotale = dureeReelleTotale + note.dureeReelle %}
                <tr class="tr{{note.id}} {{ note.listLineClass }}">
                    <td><a href="{{ path('sr_notes_note_index', { 'id': note.id } ) }}">{{ note.id }}</a></td>

                    <td><input type="checkbox" id="nxt{{ note.id }}" {{ note.prochaine ? 'checked="checked"' : '' }}
                               onchange="checkNxt('{{ path('sr_notes_note_save') }}', this.checked, {{note.id}})"></td>

                    <td><input type="checkbox" id="wtg{{ note.id }}" {{ note.enAttente ? 'checked="checked"' : '' }}
                               onchange="checkWtg('{{ path('sr_notes_note_save') }}', this.checked, {{note.id}})"></td>

                    <td>
                        {% if note.parent %}
                        <a style="font-size: 9px; font-weight: normal;" href="{{ path('sr_notes_note_index', { 'id': note.parent.id } ) }}">{{ note.parent.titre | truncate(8) }}</a>
                        {% endif %}
                    </td>

                    <td><a href="{{ path('sr_notes_note_index', { 'id': note.id } ) }}">{{ note.titre | truncate(80) }}</a></td>

                    <td style="font-size: 10px;">{{ note.note | truncate(250) }}</td>

                    <td style="font-size: 10px;">
                        {% for tag in note.tags %}
                            <span class="tag" style='background-color: #{{ tag.couleur }}'>{{ tag.titre }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ note.dateLimite ? note.dateLimite.format('Y-m-d') : '' }}</td>
                    <td>{{ note.dateCreation ? note.dateCreation.format('Y-m-d') : '' }}</td>
                    <td>
                        {{ note.dateFermeture and note.pcAvancement >= 100 ? note.dateFermeture.format('Y-m-d') : '' }}
                        <input type="checkbox" {{ note.pcAvancement == 100 ? 'checked="checked"' : '' }} onchange="checkNote('{{ path('sr_notes_note_save') }}', this.checked, {{note.id}})">
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    {% else %}
        <div class="notesListTop">Aucun résultat.</div>
    
    {% endif %}
</div>
