{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/srnotes/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{{ asset('bundles/srnotes/css/main.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/srnotes/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/srnotes/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/srnotes/js/main.js') }}"></script>
{% endblock %}

{% block body %}

    {# Barre de navigation #}
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="{{ path('sr_notes_default_index') }}">ziNotes</a>

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inbox</a></li>
            <li><a href="#">Liste de courses</a></li>
        </ul>

        <form class="navbar-form">
            <input type="text" class="form-control" style="width: 200px;" placeholder="Recherche textuelle">
        </form>
        
        <form class="navbar-form">
            <input type="text" class="form-control" style="width: 150px;" placeholder="Recherche avancée">
        </form>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Perso <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Prochaines tâches</a></li>
                <li class="divider"></li>
                <li><a href="#">Projets ouverts</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Pro <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Blah blah</a></li>
            </ul>
        </div>

        <form class="navbar-form">
            <input type="text" class="form-control" style="width: 100px;" placeholder="+Inbox">
        </form>

        <form class="navbar-form">
            <input type="text" class="form-control" style="width: 100px;" placeholder="+Courses">
        </form>

        <p class="navbar-text pull-right">
            <a href="#" class="navbar-link">Aide</a>
        </p>
    </div>

    <div class="page">{% block page %}{% endblock %}</div>
{% endblock %}