{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/srnotes/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{{ asset('bundles/srnotes/css/main.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/srnotes/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/srnotes/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/srnotes/js/main.js') }}"></script>
{% endblock %}

{% block body %}

    {# Barre de navigation #}
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="{{ path('sr_notes_default_index') }}">ziNotes</a>

        {{ render(controller('SrNotesBundle:Default:raccourcis')) }}

        <p class="navbar-text">
            <a href="{{ path('sr_notes_note_index', { 'id': 2 } ) }}" style="color: gray; font-size: x-small">éditer</a>
        </p>

        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Tags <span class="caret"></span>
                </button>
                <ul class="dropdown-menu tagsList">
                    {{ render(controller('SrNotesBundle:Default:listtags')) }}
                </ul>
            </div>

            <form method="get" action="{{ path('sr_notes_search_index') }}" class="navbar-form">
                <input type="text" class="form-control" style="width: 200px;" placeholder="Recherche textuelle" name="s" value="{{ s | default('') }}">
            </form>

            <form method="get" action="{{ path('sr_notes_search_index') }}" class="navbar-form">
                <input type="text" class="form-control" style="width: 150px;" placeholder="Recherche avancée" name="r" value="{{ r | default('') }}">
            </form>
                
            <p class="navbar-text">
                <a href="#" class="navbar-link">Aide</a>
            </p>
        </div>

        
        
    </div>

    <div class="page">{% block page %}{% endblock %}</div>
{% endblock %}