{% extends "SrNotesBundle::base.html.twig" %}

{# Utile pour afficher un preview Markdown #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/srnotes/js/showdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/srnotes/js/Note.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/srnotes/js/jquery.autosize.js') }}"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page %}
<div class="saisieNoteContainer row">
    <div class="col-6">
        <div class="breadCrumb" id="breadCrumb">
            {% if note.parent is not null %}
            <a href="{{ path('sr_notes_note_index', { 'id': note.parent.id } ) }}" id="aBreadCrumb" style="color: inherit"><i class="icon-long-arrow-left"></i> Parent :</a>
            {% else %}
            Parent :
            {% endif %}
            {{ render(controller("SrNotesBundle:Note:selectProjets", {'noteId' : note.id })) }}
        </div>
        <input type="hidden" id="parentId" value="{{ note.parent ? note.parent.id : '' }}">
    </div>

    <div class="col-3">
        {# Dates ouverture => Fermeture #}
        <span>
            <i class="icon-edit"></i>
            {{ note.dateCreation.format('Y-m-d H:i:s') }}
            {% if note.pcAvancement >= 100 and note.dateFermeture %}
                &nbsp;
                <i class="icon-check"></i>
                {{ note.dateFermeture.format('Y-m-d H:i:s') }}
            {% endif %}
        </span>
    </div>

    <div class="col-2">
        <ul class="nav nav-pills noteType">
            <li{{ note.type == 1 ? ' class="active"':'' }}><a href="#">Tâche</a></li>
            <li{{ note.type == 2 ? ' class="active"':'' }}><a href="#">Référence</a></li>
            <li{{ note.type == 3 ? ' class="active"':'' }}><a href="#">Projet</a></li>
        </ul>
    </div>

    <div class="col-1">
        <span style="display:none" id="labelPcAvancement">{{ note.pcAvancement | default("0") }} %</span>
        <input type="hidden" name="pcAvancement" id="pcAvancement" value="{{ note.pcAvancement | default("0") }}">
        <input type="checkbox" id="chkBxTermine"{{ note.pcAvancement == 100 ? 'checked="checked"' : '' }}>
        <label for="chkBxTermine">Terminé</label>
    </div>
</div>

<div id="divSaisie">
    <input placeholder="Titre" type="text" id="titre" value="{{ note.titre | default("") }}" class="inputTitre">

    <div class="row">
        <div class="col-1 noteFlags">
            <label class="prochaine">
                <input type="checkbox"> Prochaine
            </label>
        </div>
        <div class="col-1 noteFlags">
            <label class="attente">
                <input type="checkbox"> En attente
            </label>
        </div>

        <div class="col-2">
            <input type="date" class="form-control" placeholder="Date limite" name="dateLimite" value="{{ note.dateLimite ? note.dateLimite.format('Y-m-d') : '' }}">
        </div>

        <div class="col-4">
            <input type="text" placeholder="Tags" id="tags" value="{{ note ? (note.tagsAsStrings|join(', ')) : '' }}">
        </div>

        <div class="col-1">
            <input type="button" class="btn btn-mini btn-primary btnEnregistrer" value="Enregistrer" title="Raccourci : Ctrl+S">
        </div>

        <div class="col-3">
            <ul class="nav nav-tabs text-right editorsChoice">
                <li class="active col-4"><a href="#">Simple</a></li>
                <li class="col-4"><a href="#">Ace</a></li>
                <li class="col-4"><a href="#">Mkdown</a></li>
            </ul>
        </div>
    </div>

    
    {# Onglets des modes d'édition #}
    <textarea placeholder="Description" id="description" class="inputDescription" onkeydown="insertTab(event)">{{ note.note | default("") }}</textarea>

    
    
    <span onclick="javascript:$('#tagsPourAjout').toggle(200);" style="cursor: pointer">+</span>

    <span id="tagsPourAjout" style="display:none">
        {% render controller("SrNotesBundle:Default:listTagsPourAjout") %}
    </span>

    <form style="display: inline" method="post" action="{{ path('sr_notes_note_save') }}" id="formSousNote">
        <input id="champSaisieSousNote" placeholder="Créer une sous note" type="text" name="titre" title="Appuyer sur entrée pour créer une sous-note de la note actuelle. Appuyez sur Ctrl+Entrée pour rester sur la même page après la création.">
        <input type="hidden" name="parentId" value="{{ note.id }}">
        <input type="hidden" name="tags" value="{{ note ? (note.tagsAsStrings|join(', ')) : '' }}">
        <input type="hidden" name="type" value="1">
        <input type="hidden" name="redirToNote" id="redirToNoteInput" value="1">

        <a href="#" class="openMarkdownPreview">Preview Markdown</a>

        <script>
            $(function(){
                $('#champSaisieSousNote').keydown(function (e) {
                    if (e.ctrlKey && e.keyCode == 13) {
                        // Ctrl-Enter
                        $('#redirToNoteInput').attr('name', 'redirTo').val('{{ path('sr_notes_note_index', {'id':note.id}) }}');
                        $('#formSousNote').submit();
                    }
                });
            });
        </script>
    </form>

    <div class="file-uploader"></div>

    {% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}
</div>

{# La liste des enfants de cette note #}
{% if enfants|length > 0 %}
    <br>
    {{ render(controller("SrNotesBundle:Search:liste", { "s": null, "q": null, "r": "!C&^"~note.id })) }}
{% endif %}

<script type="text/javascript">
    $(function() {
        var $saisieNoteContainer = $('.saisieNoteContainer');
        var note = new Note($saisieNoteContainer, {
            id: {{ note.id }},
            uploadUrl: {{ path('upload', { "id": note.id }) | json_encode | raw }},
            uploadViewUrl: {{ (app.request.basePath ~ '/uploads/' ~ note.id) | json_encode | raw }},
            existingFiles: {{ files | json_encode | raw }}
        });
        
        $('.saisieNoteContainer').data('note', note);

        $('.openMarkdownPreview').on('click', function() {
            // Ouvre le popup
            var win = window.open('about:blank', '_blank', "location=no,menubar=no");
            win.document.write('<!DOCTYPE HTML><html lang="fr-FR"><head><meta charset="UTF-8"><title>Preview Markdown</title><link href="{{ app.request.scheme ~  '://' ~  app.request.host ~ asset('bundles/srnotes/css/markdown.css') }}" type="text/css" rel="stylesheet"/></head><body>test</body></html>');

            // Installe le handler pour mettre à jour le contenu du popup
            var descriptionChangeHandler = function(event) {
                if(event) event.preventDefault();
                var converter = new Showdown.converter();
                win.document.body.innerHTML = converter.makeHtml($('#description').val());
            };

            $('#description')
                    .on('keyup', descriptionChangeHandler)
                    .on('change', descriptionChangeHandler);
            descriptionChangeHandler();
        });
    });
    
    function tacheCompletee() {
        $('#titre').css('text-decoration', 'line-through');
    }

    function tacheRouverte() {
        $('#titre').css('text-decoration', 'none');
    }

    $(function(){
        $('#pcAvancement').change(function(){
            if(this.value == 100 && $('#labelPcAvancement').html() != '100 %') {
                // Complétée
                tacheCompletee();

            } else if(this.value != 100 && $('#labelPcAvancement').html() == '100 %') {
                // Rouverte
                tacheRouverte();
            }

            $('#labelPcAvancement').html(this.value + " %");
        });

        $('#chkBxTermine').change(function(){
            $('#pcAvancement').val($('#chkBxTermine').is(':checked') ? 100 : 0);
            $('#pcAvancement').change();
        });

        

        $('#description').autosize();
    });


</script>

{% endblock %}