{% extends "SrNotesBundle::base.html.twig" %}

{# Utile pour afficher un preview Markdown #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/srnotes/js/showdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/srnotes/js/Note.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/srnotes/js/jquery.autosize.js') }}"></script>
    <script type="text/javascript" src="//underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/srnotes/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page %}
<div class="saisieNoteContainer row">
    <div class="col-lg-4">
        <div class="breadCrumb" id="breadCrumb">
            {% if note.parent is not null %}
            <a href="{{ path('sr_notes_note_index', { 'id': note.parent.id } ) }}" id="aBreadCrumb" style="color: inherit"><i class="icon-long-arrow-left"></i> Parent :</a>
            {% else %}
            Parent :
            {% endif %}
            {{ render(controller("SrNotesBundle:Note:selectProjets", {'noteId' : note.id })) }}
        </div>
        <input type="hidden" id="parentId" value="{{ note.parent ? note.parent.id : '' }}">
    </div>

    <div class="col-lg-3">
        {# Dates ouverture => Fermeture #}
        <span>
            <i class="icon-edit"></i>
            {{ note.dateCreation.format('Y-m-d H:i:s') }}
            {% if note.pcAvancement >= 100 and note.dateFermeture %}
                &nbsp;
                <i class="icon-check"></i>
                {{ note.dateFermeture.format('Y-m-d H:i:s') }}
            {% endif %}
        </span>
    </div>

    <div class="col-lg-3">
        <ul class="nav nav-pills noteType">
            <li{{ note.type == 1 ? ' class="active"':'' }} data-type="1"><a href="#">Tâche</a></li>
            <li{{ note.type == 2 ? ' class="active"':'' }} data-type="2"><a href="#">Référence</a></li>
            <li{{ note.type == 3 ? ' class="active"':'' }} data-type="3"><a href="#">Projet</a></li>
        </ul>
    </div>

    <div class="col-lg-2">
        <span style="display:none" id="labelPcAvancement">{{ note.pcAvancement | default("0") }} %</span>
        <input type="hidden" name="pcAvancement" id="pcAvancement" value="{{ note.pcAvancement | default("0") }}">
        <input type="checkbox" id="chkBxTermine"{{ note.pcAvancement == 100 ? 'checked="checked"' : '' }}>
        <label for="chkBxTermine">Terminé</label>
    </div>
</div>

<div id="divSaisie">
    <input placeholder="Titre" type="text" id="titre" value="{{ note.titre | default("") }}" class="inputTitre"{{ note.pcAvancement >= 100 ? ' style="text-decoration: line-through;"' : '' }}>

    <div class="row">
        <div class="col-lg-1 noteFlags">
            <label class="prochaine">
                <input type="checkbox"{{ note.prochaine ? ' checked="checked"' }}> Prochaine
            </label>
        </div>
        <div class="col-lg-1 noteFlags">
            <label class="attente">
                <input type="checkbox"{{ note.enAttente ? ' checked="checked"' }}> En attente
            </label>
        </div>

        <div class="col-lg-2">
            <input type="date" class="form-control noteFormControl" placeholder="Date limite" name="dateLimite" value="{{ note.dateLimite ? note.dateLimite.format('Y-m-d') : '' }}">
        </div>

        <div class="col-lg-4">
            <div class="form-control noteFormControl">
                <input type="text" placeholder="Tags" id="tags" value="{{ note ? (note.tagsAsStrings|join(', ')) : '' }}">
            </div>
        </div>

        <div class="col-lg-1">
            <input type="button" class="btn btn-mini btn-primary btnEnregistrer noteFormControl" data-loading-text="Enregistrement..." value="Enregistrer" title="Raccourci : Ctrl+S">
        </div>

        {# Onglets des modes d'édition #}
        <div class="col-lg-3">
            <ul class="nav nav-tabs text-right editorsChoice">
                <li class="active col-lg-4 simpleEditor"><a href="#">Simple</a></li>
                <li class="col-lg-4 aceEditor"><a href="#">Ace</a></li>
                <li class="col-lg-4 markdownEditor"><a href="#">Markdown</a></li>
            </ul>
        </div>
    </div>

    {# Editeurs #}
    <div style="margin-bottom: 5px;" class="editorContainer">
        <textarea placeholder="Description" id="description" class="inputDescription" onkeydown="insertTab(event)">{{ note.note | default("") }}</textarea>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="{{ path('sr_notes_note_save') }}" id="formSousNote">
                <div class="input-group">
                    <input type="text" class="form-control noteFormControl" id="champSaisieSousNote" placeholder="Créer une sous-note" name="titre" title="Appuyer sur entrée pour créer une sous-note de la note actuelle. Appuyez sur Ctrl+Entrée pour rester sur la même page après la création.">
                    <input type="hidden" name="parentId" value="{{ note.id }}">
                    <input type="hidden" name="tags" value="{{ note ? (note.tagsAsStrings|join(', ')) : '' }}">
                    <input type="hidden" name="type" value="1">
                    <input type="hidden" name="redirToNote" id="redirToNoteInput" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-mini btn-default noteFormControl" type="button">Ok</button>
                    </span>

                    <script>
                        $(function(){
                            $('#champSaisieSousNote').keydown(function (e) {
                                if (e.ctrlKey && e.keyCode == 13) {
                                    // Ctrl-Enter
                                    $('#redirToNoteInput').attr('name', 'redirTo').val('{{ path('sr_notes_note_index', {'id':note.id}) }}');
                                    $('#formSousNote').submit();
                                }
                            });
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>

    <div class="file-uploader"></div>
    {% include "SrNotesBundle:Default:templates.html.twig" %}
    
</div>

{# La liste des enfants de cette note #}
{% if enfants|length > 0 %}
    <br>
    {{ render(controller("SrNotesBundle:Search:liste", { "s": null, "q": null, "r": "!C&^"~note.id })) }}
{% endif %}

<script type="text/javascript">
    $(function() {
        var $saisieNoteContainer = $('.saisieNoteContainer');
        var note = new Note($saisieNoteContainer, {
            id: {{ note.id }},
            uploadUrl: {{ path('upload', { "id": note.id }) | json_encode | raw }},
            uploadViewUrl: {{ (app.request.basePath ~ '/uploads/' ~ note.id) | json_encode | raw }},
            saveNoteUrl: {{ path('sr_notes_note_save') | json_encode | raw }},
            existingFiles: {{ files | json_encode | raw }}
        });
        
        $('.saisieNoteContainer').data('note', note);
    });
    
</script>

{% endblock %}